body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .contenedor {
    position: relative;
    height: 100%;
  }
  
  .imagen-fondo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #ffffff;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .botones {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .boton {
    width: 200px;
    margin-bottom: 15px;
    padding: 15px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Estilos para dispositivos más pequeños */
  @media screen and (max-width: 767px) {
    h1 {
      font-size: 1.5em;
    }
  
    .boton {
      width: 150px;
    }
  }
  