body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('./fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .contenedor {
    position: relative;
  }
  
  .imagen-superpuesta {
    position: absolute;
    top: 0;
    left: 6%;
    width: 87%; /* Ajusta el ancho según tus necesidades */
    height: auto; /* Ajusta la altura automáticamente según el ancho */
    z-index: 1; /* Asegura que la imagen superpuesta esté sobre la de fondo */
  }

/* Estilo para el contenedor del botón */
#boton-container {
    position: fixed; /* Fija el contenedor en la ventana del navegador */
    bottom: 20px; /* Ajusta la posición vertical desde la parte inferior */
    right: 20px; /* Ajusta la posición horizontal desde la derecha */
    z-index: 999; /* Asegura que esté encima de otros elementos */
  }
  
  /* Estilo para el botón */
  #mi-boton {
    padding: 10px 20px; /* Ajusta el espaciado interno del botón */
    background-color: #3498db; /* Color de fondo del botón */
    color: #ffffff; /* Color del texto del botón */
    text-decoration: none; /* Elimina el subrayado del texto en el botón */
    border-radius: 5px; /* Bordes redondeados */
    display: inline-block; /* Permite ajustar el ancho y alto del botón */
  }
  