body {
  background-image: url('./2-MODALIDADES.jpg'); /* Reemplaza 'fondo.jpg' con la ruta de tu imagen de fondo */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.box {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  margin-top: 10px;
}
